experiment/results/*
distractors.pkl
models/*
fconv*
wmt*
iwslt14.tokenized.de-en/*
wmt14.en-de.fconv-py/*
wslt14.tokenized.de-en/*
wmt14.en-fr.fconv-py/*
data/*
deprecated/*
testvenv/*
train/image_captioning/*
*.pyc
train/shakespeare.pt
